<%= form_for [@company,contact_person],html: {class: :well} do |f| %>
  <% if contact_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_person.errors.count, "error") %> prohibited this contact_person from being saved:</h2>

      <ul>
      <% contact_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :contact_title %>
    <%= f.text_field :contact_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :contact_phone %>
    <%= f.text_field :contact_phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email, class: "form-control" %>
  </div>

  <div class="submit">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
