<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 ><strong>CONTACT PERSONS</strong></h3>
    </div>
  </div>
</nav>
<div id="main-content">
<div class="container-fluid">
  <% if  !notice.nil? %>
  <div class="alert alert-info" id="notice">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     <%= notice %>
  </div>
      <% end %>


<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-7 ">
    <div class="card-1">
      <table class="table table-striped well">
        <thead>
        <tr>
          <th colspan="2"> Name</th>
          <th > Phone </th>
          <th > Email </th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @contact_people.each do |contact_person| %>

            <tr class="">
              <td colspan="2">
                <%= contact_person.contact_name %>

              </td>
              <td>
                <%= contact_person.contact_phone %>
              </td>
              <td>
                <%= contact_person.contact_email %>
              </td>
              <td>



                <%= link_to '<span class="btn btn-circle btn-success glyphicon  glyphicon-eye-open"></span>'.html_safe, company_contact_person_path(@company,contact_person) %>
                <%= link_to '<span class="btn btn-circle btn-primary glyphicon  glyphicon-edit"></span>'.html_safe, edit_company_contact_person_path(@company,contact_person) %>
                <%= link_to '<span class="btn btn-circle btn-danger glyphicon  glyphicon-remove"></span>'.html_safe, company_contact_person_path(@company,contact_person), method: :delete, data: { confirm: 'Are you sure?' } %>


              </td>


            </tr>
        <% end %>
    </tbody>
      </table>
    </div>


  </div>
  <div class="col-lg-4 col-md-4 col-sm-5 ">

<div class="card-1">



    <h3 class="text-center" ><strong>MENU</strong></h3>
  <hr>
<div class="well">


      <%= link_to '<span class="glyphicon  glyphicon-plus"></span> New contact'.html_safe, new_company_contact_person_path(@company), html_option={ class: "btn btn-primary btn-block "} %>

</div>
</div>
  </div>
</div>


</div>
</div>
