<%= form_for admin, html: {class: :well} do |f| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Full_name %>
    <%= f.text_field :admin_fullname, class: "form-control" %>
  </div>
    <div class="form-group">
      <%= f.label :Email_Address %>
      <%= f.text_field :admin_email, class: "form-control" %>
    </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
    <div class="form-group">
      <%= f.label :Retype_Password_Again %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  <div class="submit">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
