<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 ><strong>ADMINS</strong> </h3>
    </div>
  </div>
</nav>
<div id="main-content">
  <div class="container-fluid">
    <% if  !notice.nil? %>
        <div class="alert alert-info" id="notice">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
    <% end %>


    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7 ">
        <div class="card-1 ">

<table class="table table-striped well">
  <thead>
    <tr>
      <th>Admin Full Name</th>
      <th>Admin Email</th>
      <th colspan="3" style="text-align: center"> Action</th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.admin_fullname %></td>
        <td><%= admin.admin_email %></td>
        <td colspan="3"><%= link_to '<span class="btn btn-circle btn-success glyphicon  glyphicon-eye-open"></span>'.html_safe, admin %>
          <%= link_to '<span class="btn btn-circle btn-primary glyphicon  glyphicon-edit"></span>'.html_safe,   edit_admin_path(admin) %>
          <%= link_to '<span class="btn btn-circle btn-danger glyphicon  glyphicon-remove"></span>'.html_safe, admin, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 ">

<div class="card-1" >
        <h3 class="text-center" ><strong>MENU</strong></h3>
        <hr>
  <div class="well">

        <%= link_to '<span class="glyphicon  glyphicon-plus"></span> New Admin'.html_safe, new_admin_path, html_option={ class: "btn btn-primary btn-block "} %>

  </div>
</div>
      </div>_

      </div>
  </div>
</div>