<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 ><strong>NEW ADMIN</strong></h3>
    </div>
  </div>
</nav>
<div id="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ">
        <div class="card-1">

          <%= render 'form', admin: @admin %>
        </div>

      </div>
      <div class="col-md-4 ">
        <div class="card-1">
          <h3 class="text-center" ><strong>MENU</strong></h3>

          <hr>
        <div class="well">
          <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, admins_path , class: "btn btn-primary btn-block " %>
        </div>


        </div>


      </div>


    </div>




  </div>



</div>
