<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 ><strong>SHOW ADMIN</strong> </h3>
    </div>
  </div>
</nav>
<div id="main-content">
  <div class="container-fluid">
    <% if  !notice.nil? %>
        <div class="alert alert-info" id="notice">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
    <% end %>

    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7 ">
        <div class="card-1">
          <strong>Admin fullname: </strong>
        <p class="well well-sm">

  <%= @admin.admin_fullname %>
      </p>
          <strong>Admin email: </strong>
<p class="well well-sm">

  <%= @admin.admin_email %>
</p>
          <strong>Created Time: </strong>
          <p class="well well-sm">

            <%= @admin.created_at.strftime "%d %B %Y , %I:%M %P" %>
          </p>

          <strong>Updated Time: </strong>
          <p class="well well-sm">

            <%= @admin.created_at.strftime "%d %B %Y , %I:%M %P" %>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-5">
        <div class="card-1">
          <h3 class="text-center" ><strong>MENU</strong></h3>
          <hr>
<div class="well">
          <%= link_to '<span class="glyphicon  glyphicon-edit"></span> Edit contact'.html_safe,  edit_admin_path(@admin), html_option={ class: "btn btn-primary btn-block "} %>
          <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, admins_path, class: "btn btn-primary btn-block " %>

</div>
        </div>

      </div>


      </div>
  </div>
</div>
