<div class = "container">
  <div class="wrapper">
    <% if flash[:notice] %>
        <div class="notice"><%= flash[:danger] %></div>
    <% end %>
    <%= form_for( :session, :html => {class: "form-signin" }, url: signin_path ) do |f| %>

        <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>

        <hr class="colorgraph"><br>
        <%= f.text_field :admin_email, class: "form-control", placeholder: "username" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

        <%= f.submit "sign in", class: "btn btn-lg btn-primary btn-block"  %>


    <% end %>
  </div>
</div>
