 <div class="well">
  <% if defined? @current_folder %>

<%= form_for([@company,@current_folder,@document]) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>
  <div class="form-group">
    <%= f.label :document_name %>
    <%= f.text_field :document_name, class: "form-control"  %>

  </div>
    <div class="form-group">
    <%= f.label :document_description %>
    <%= f.cktext_area :document_description %>

  </div >
   <div class="form-group">
    <%= f.label :Document %>
    <%= f.file_field :document_link, class: "form-control"  %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% else %>

<%= form_for([@company, @document]) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>
  <div class="form-group">
    <%= f.label :Document_Name %>
    <%= f.text_field :document_name, class: "form-control"  %>

  </div>
      <div class="form-group">
    <%= f.label :document_description %>
    <%= f.text_area :document_description, class: "form-control" %>

  </div>
   <div class="form-group">
    <%= f.label :Document %>
    <%= f.file_field :document_link, class: "form-control"  %>

  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
  <% end %>

<% end %>
 </div>