<div class="well">
  <% if defined? @current_folder %>

<%= form_for @folder , url: newfolder_company_folder_documents_path(@company,@current_folder,@folder) do |f| %>
  <% if folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>
  <p>
    <%= f.label :Folder_name %>
    <%= f.text_field :folder_name, class: "form-control"  %>

  </p>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<% else %>

<%= form_for @folder, url: newfolder_company_documents_path(@company,@folder)  do |f| %>
  <% if folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>
  <p>
    <%= f.label :Folder_Name %>
    <%= f.text_field :folder_name, class: "form-control"  %>

  </p>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
  <% end %>

<% end %>
</div>