<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 ><strong>DOCUMENTS</strong></h3>
    </div>
  </div>
</nav>
<div id="main-content">
<div class="container-fluid">
<div class="row">
<div class="col-md-8">



<div class="card-1">

  <div class="panel-heading"> <h4>
    <% if params[:folder_id].present? %>
         <%= 'Drectory: '+@current_folder.folder_name  %>
        <% else %>
        Drectory: root
        <%  end %>
  </h4>
    <hr>
<ul class="list-group well well-sm " id="sortable_folder">
  <% @folders.each do |folder| %>
  <li class="ui-state-default list-group-item"  pos="sortfolder_<%= folder.id %>" > <h4>
<%= link_to  '<span class="glyphicon glyphicon-folder-open
" aria-hidden="true"></span> &nbsp'.html_safe+folder.folder_name , company_folder_documents_path(@company.id,folder) %>

 <small class="pull-right">
     <%= link_to '<span class="glyphicon glyphicon-remove
"></span>'.html_safe, "documents/newfolder/"+folder.id.to_s  ,:class => "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>

   <%= link_to '<span class="glyphicon glyphicon-edit
"></span>'.html_safe, "documents/newfolder/"+folder.id.to_s+"/edit"  ,:class => "btn btn-primary btn-sm" %>
   </small>
 
   </h4>
   </li>

   <% end %>

 

</ul>

<ul class="list-group well well-sm " id="sortable_document">
<% @documents.each do |document| %>
  <li class="list-group-item ui-state-default" pos="sortdoc_<%= document.id %>">
  <h4><span class="glyphicon glyphicon-file
" aria-hidden="true"></span>
<%= document.document_name %>
<small class="pull-right">
  <a href="<%= document.document_link %>" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon glyphicon-download-alt
"></span></a>
  <%= link_to '<span class="glyphicon  glyphicon-eye-open"></span>'.html_safe, company_document_path(@company,document) ,:class => "btn btn-success btn-sm"  %>

  <%= link_to '<span class="glyphicon glyphicon glyphicon-edit
"></span>'.html_safe, edit_company_document_path(@company.id,document) ,:class => "btn btn-primary btn-sm" %>
<%= link_to '<span class="glyphicon glyphicon glyphicon-remove
"></span>'.html_safe, company_document_path(@company.id,document),:class => "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>

</small>
</h4>
</li>
   <% end %>
</ul>


</div>

</div>
</div>

<div class="col-md-4">
  <div class="card-1">
    <h3 class="text-center" ><strong>MENU</strong></h3>
    <hr>
    <div class="well">
  <% if params[:folder_id].present? %>

      <% unless @current_folder.folder_id.nil? %>
          <%= link_to '<span class="glyphicon glyphicon-arrow-left
"></span> Back'.html_safe , company_folder_documents_path(@company.id,@current_folder.folder_id),:class => "btn btn-primary btn-block" %>

      <% else %>
          <%= link_to '<span class="glyphicon glyphicon-arrow-left
"></span> Back'.html_safe , company_documents_path(@company.id), :class => "btn btn-primary btn-block"%>
      <% end %>

  <% end %>


  <% unless defined? @current_folder %>
      <%= link_to '<span class="glyphicon glyphicon-file
" aria-hidden="true"></span> New Document'.html_safe, new_company_document_path(@company) ,:class => "btn btn-primary btn-block" %>

  <% else %>
      <%= link_to '<span class="glyphicon glyphicon-file
" aria-hidden="true"></span> New Document'.html_safe, new_company_folder_document_path(@company,@current_folder) ,:class => "btn btn-primary btn-block" %>

  <% end %>

  <% unless defined? @current_folder %>
      <%= link_to '<span class="glyphicon glyphicon-folder-open"> </span> &nbsp New Folder '.html_safe, newfolder_company_documents_path(@company),:class => "btn btn-primary btn-block"  %>

  <% else %>
      <%= link_to '<span class="glyphicon glyphicon-folder-open"> </span> &nbsp New Folder '.html_safe, newfolder_company_folder_documents_path(@company,@current_folder) ,:class => "btn btn-primary btn-block" %>

  <% end %>
</div>
</div>
</div>
</div>
</div>
</div>

<% unless defined? @current_folder %>
<script>
   var filesort="<%= sortfile_company_documents_path(@company) %> ";
var foldersort="<%= sortfolder_company_documents_path(@company) %>" ;
</script>
<% else %>
<script>
 var filesort="<%= sortfile_company_folder_documents_path(@company,@current_folder) %> ";
var foldersort="<%= sortfolder_company_folder_documents_path(@company,@current_folder) %> " ;

</script>
<% end %>



<script>    



$(function() {

        $( "#sortable_document" ).sortable({ 
            placeholder: "ui-sortable-placeholder",
            update: function (event, ui)
            {        

              var info = $(this).sortable( "serialize", {attribute : "pos"});

                $.ajax({
                    url: filesort,
                    type: 'POST',
                    data: info,

                })
                .done(function(data) {
               
                        console.log(data);
                })
                .fail(function() {
                   
                });
                
                

            }
        });
    });
    </script>


<script>    $(function() {
        $( "#sortable_folder" ).sortable({ 
            placeholder: "ui-sortable-placeholder",
            update: function (event, ui)
            {        

              var info = $(this).sortable( "serialize", {attribute : "pos"});

                $.ajax({
                    url: foldersort,
                    type: 'POST',
                    data: info,

                })
                .done(function(data) {
               console.log(data);
             
                })
                .fail(function() {
                   
                });
                
                

            }
        });
    });
    </script>