<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3><strong>NEW FOLDER</strong></h3>
    </div>
  </div>
</nav>
<div id="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ">
        <div class="card-1">

          <%= render 'form_newfolder', folder: @folder %>
        </div>

      </div>
      <div class="col-md-4 ">
        <div class="card-1">
          <h3 class="text-center" ><strong>MENU</strong></h3>
          <hr>
          <div class="well">
          <% unless  @current_folder %>

              <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, company_documents_path(@company) , class: "btn btn-primary btn-block " %>

          <% else %>
              <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, company_folder_documents_path(@company,@current_folder) , class: "btn btn-primary btn-block " %>

          <% end %>
            </div>

        </div>


      </div>


    </div>




  </div>



</div>








