<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3> <strong>SHOW  DOCUMENT INFORMATION</strong> </h3>
    </div>
  </div>
</nav>
<div id="main-content">
  <div class="container-fluid">
    <% if  !notice.nil? %>
        <div class="alert alert-info" id="notice">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
    <% end %>

    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7 ">
        <div class="card-1">
          <strong>Document Name </strong>
 <p class="well well-sm"><%= @document.document_name %>  </p>
          <strong>Document Description</strong>
          <div class="well well-sm">  <%= @document.document_description.to_s.html_safe %>  </div>
          <Strong>Document size </Strong>
          <p class="well well-sm">  <%= @document.document_size %></p>
          <strong>Document Type</strong>
          <p class="well well-sm"> <%= @document.document_type %> </p>
          <Strong>Document url </strong>
          <p class="well well-sm"><%= @document.document_link %>  </p>


          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-5 ">
        <div class="card-1">
          <h3 class="text-center" ><strong>MENU</strong></h3>
          <hr>
          <div class="well">
          <% unless  @current_folder %>

              <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, company_documents_path(@company) , class: "btn btn-primary btn-block " %>

          <% else %>
              <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, company_folder_documents_path(@company,@current_folder) , class: "btn btn-primary btn-block " %>

          <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


