<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 ><strong>COMPANIES/CLIENTS OF APP </strong></h3>
    </div>
  </div>
</nav>
<div id="main-content">
  <div class="container-fluid">
    <% if  !notice.nil? %>
        <div class="alert alert-info" id="notice">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
    <% end %>


    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7 ">
<div class="card-1">


<table class="table table-striped well">
  <thead>
    <tr>
      <th>company id</th>
      <th>company Name</th>
      <th>Action</th>
    </tr>
    </tr>
  </thead>

  <tbody border="1px">
  <tr>


    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id%></td>
        <td><%= company.company_name%></td>
        <td colspan="3"><%= link_to '<span class="btn btn-circle btn-success glyphicon  glyphicon glyphicon-open"></span>'.html_safe, company_path(company)  %>
          <%= link_to '<span class="btn btn-circle btn-primary glyphicon  glyphicon-edit"></span>'.html_safe,  edit_company_path(company) %>
          <%= link_to '<span class="btn btn-circle btn-danger glyphicon  glyphicon-remove"></span>'.html_safe, company, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
  </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5  ">
  <div class="card-1">

    <h3 class="text-center" ><strong>MENU</strong></h3>        <hr>

        <%= link_to '<span class="glyphicon  glyphicon-plus"></span> New Client/Company'.html_safe, new_company_path, html_option={ class: "btn btn-primary btn-block "} %>

        <br>
  </div>
      </div>_


    </div>
  </div>
</div>
