<!DOCTYPE html>
<html>
<head>
  <title>Cms</title>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="nav-side-menu">
  <div class="brand"><b>CONTENT MANAGMENT</b>

  </div>

  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

      <li>
        <a href="<%= companies_path %>">
          <i class="fa fa-database fa-lg"></i>
         Client | Company
        </a>
      </li>
      <li>
        <a href="<%= admins_path %>">
          <i class="fa fa-unlock fa-lg"></i> Admin
        </a>
      </li>

      <li>

      <%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i> Log out '.html_safe+'('+@current_admin.admin_fullname+')' , signout_path, method: :delete, data: { confirm: 'Are you sure?' } %>

      </li>



    </ul>
  </div>
</div>

<div id="page-container">

  <%= yield %>

</div>
</body>
</html>
