<%= form_for [@company, company_info],html: {class: :well} do |f| %>
  <% if company_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_info.errors.count, "error") %> prohibited this company_info from being saved:</h2>

      <ul>
      <% company_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :company_title %>
    <%= f.text_field :company_title, class: "form-control"  %>
  </div>

    <div class="form-group">
    <%= f.label :company_description %>
    <%= f.text_area :company_description, class: "form-control"  %>
  </div>
    <div class="form-group">
      <%= f.label :company_url %>


    <%= f.text_field :company_url, class: "form-control"  %>

  </div>

    <div class="form-group">
    <%= f.label :company_phone %>
    <%= f.text_field :company_phone, class: "form-control"  %>
  </div>

    <div class="form-group">
    <%= f.label :company_address_one %>
    <%= f.text_field :company_address_one, class: "form-control"  %>
  </div>

    <div class="form-group">
    <%= f.label :company_address_two %>
    <%= f.text_field :company_address_two, class: "form-control"  %>
  </div>

    <div class="form-group">
    <%= f.label :company_city %>
    <%= f.text_field :company_city, class: "form-control"  %>
  </div>

    <div class="form-group">
    <%= f.label :company_state %>
    <%= f.text_field :company_state, class: "form-control"  %>
  </div>

    <div class="form-group">
    <%= f.label :company_zipcode %>
    <%= f.text_field :company_zipcode, class: "form-control"  %>
  </div>

    <div class="form-group">
    <%= f.label :company_country %>
    <%= f.text_field :company_country, class: "form-control"  %>
  </div>

    <div class="submit">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
<% end %>
