<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 ><strong>COMPANY INFORMATION</strong></h3>
    </div>
  </div>
</nav>
<div id="main-content">
  <div class="container-fluid">
    <% if  !notice.nil? %>
        <div class="alert alert-info" id="notice">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
    <% end %>


    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7 ">
        <div class="card-1">
          <table class="table table-striped well">
            <thead>
            <tr>
              <th>Company Name</th>
              <th>Action</th>
            </tr>
            </thead>
<tbody>
            <% @company_infos.each do |company_info| %>
                <tr>
                  <td>
                  <%= company_info.company_title %>
                  </td>
                  <td >


            <%= link_to '<span class="btn btn-success btn-circle  glyphicon glyphicon-eye-open"></span>'.html_safe, company_company_info_path(@company,company_info) %>
                    <%= link_to '<span class="btn btn-primary btn-circle  glyphicon  glyphicon-edit"></span>'.html_safe, edit_company_company_info_path(@company,company_info) %>
                    <%= link_to '<span class="btn btn-danger btn-circle  glyphicon  glyphicon-remove"></span>'.html_safe, company_company_info_path(@company,company_info), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>

                </tr>
            <% end %>
</tbody>
          </table>
        </div>


      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 ">

<div class="card-1">
        <h3 class="text-center" ><strong>MENU</strong></h3>
        <hr>
        <div class="well">

        <%= link_to '<span class="glyphicon  glyphicon-plus"></span> New Company Information'.html_safe, new_company_company_info_path, html_option={ class: "btn btn-primary btn-block "} %>
</div>

      </div>_
      </div>
    </div>


  </div>
</div>