<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 ><strong>SHOW COMPANY INFORMATION</strong></h3>
    </div>
  </div>
</nav>
<div id="main-content">
  <div class="container-fluid">
    <% if  !notice.nil? %>
        <div class="alert alert-info" id="notice">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
    <% end %>

    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7 ">
        <div class="card-1">





            <strong>Company title:</strong>
            <p class="well  well-sm"> <%= @company_info.company_title %></p>





              <strong>Company description:</strong>
            <p class="well well-sm"><%= @company_info.company_description %></p>


              <strong>Company url:</strong>
            <p class="well well-sm"><%= @company_info.company_url %></p>



              <strong>Company phone:</strong>
            <p class="well  well-sm">  <%= @company_info.company_phone %></p>


              <strong>Company address one:</strong>
            <p class="well  well-sm">  <%= @company_info.company_address_one %></p>


              <strong>Company address two:</strong>
            <p class="well  well-sm"> <%= @company_info.company_address_two %></p>



              <strong>Company city:</strong>
            <p class="well  well-sm">  <%= @company_info.company_city %></p>


              <strong>Company state:</strong>
            <p class="well  well-sm">  <%= @company_info.company_state %></p>


              <strong>Company zipcode:</strong>
            <p class="well  well-sm"> <%= @company_info.company_zipcode %></p>



              <strong>Company country:</strong>
            <p class="well well-sm"> <%= @company_info.company_country %></p>
          <strong>Created Time: </strong>
          <p class="well well-sm">

            <%= @company_info.created_at.strftime "%d %B %Y , %I:%M %P" %>
          </p>

          <strong>Updated Time: </strong>
          <p class="well well-sm">

            <%= @company_info.created_at.strftime "%d %B %Y , %I:%M %P" %>
          </p>



        </div>
      </div>
      <div class="col-md-4">
        <div class="card-1">
          <h3 class="text-center" ><strong>MENU</strong></h3>
          <hr>
          <div class="well">

          <%= link_to '<span class="glyphicon  glyphicon-edit"></span> Edit contact'.html_safe, edit_company_company_info_path(@company,@company_info), html_option={ class: "btn btn-primary btn-block "} %>
          <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, company_company_infos_path(@company), class: "btn btn-primary btn-block " %>

         </div>
        </div>

      </div>

    </div>
  </div>
</div>






